
@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Đổi mật khẩu</title>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title text-center">Đổi mật khẩu</h1>
                            <form method="post">
                                <div class="form-group">
                                    <label for="current-password">Mật khẩu hiện tại:</label>
                                    <input type="password" id="current-password" name="currentPassword" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="new-password">Mật khẩu mới:</label>
                                    <input type="password" id="new-password" name="newPassword" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password">Xác nhận mật khẩu:</label>
                                    <input type="password" id="confirm-password" name="confirmPassword" class="form-control">
                                </div>
                                <button type="submit" formaction="~/TaiKhoans/ChangePassword1" class="btn btn-primary btn-block">Đổi mật khẩu</button>
                                <button type="submit" formaction="~/Home/Welcome" class="btn btn-secondary btn-block mt-3">Quay lại</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.2/js/bootstrap.min.js"></script>
    </body>
</html>


