
@{
    ViewBag.Title = "CheckRoles";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Thông báo</title>
    <link rel="stylesheet" href="path/to/custom.css"> <!-- Liên kết đến tệp CSS tùy chỉnh -->
    <style>
        /* Inline CSS cho phần style cụ thể */
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .notification {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            padding: 20px;
            margin: 50px auto;
            max-width: 400px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .notification h1 {
                font-size: 24px;
                color: #333333;
                margin-bottom: 10px;
            }

        .back-button {
            display: inline-block;
            background-color: #dddddd;
            color: #333333;
            padding: 10px 20px;
            border-radius: 4px;
            text-decoration: none;
            margin-top: 20px;
        }

            .back-button:hover {
                background-color: #cccccc;
            }
    </style>
</head>
<body>
    <div class="notification">
        <h1>Bạn không có quyền truy cập. Hãy liên hệ lại với admin.</h1>
        <a href="~/Home/Welcome" class="back-button">Quay lại</a>
    </div>
</body>
</html>



